@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 14px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}

.card {
  display: flex;
  max-width: 520px;
  justify-content: center;
  align-items: flex-end;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding-right: 20px;
}

.image {
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content {
  margin-left: 35px;
}

.perfume {
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 4px;
  color: hsl(228, 12%, 48%);
  margin-top: -80px;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  font-family: "Fraunces", serif;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 220px;
}

.article {
  color: hsl(228, 12%, 48%);
  max-width: 230px;
  margin-bottom: 20px;
}

.price {
  display: flex;
  gap: 15px;
  align-items: center;
}

.new-price {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  margin-bottom: 20px;
}

.old-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-size: 0.8rem;
}

.btn {
  padding: 15px 60px;
  border-radius: 5px;
  border: none;
  background-color: hsl(158, 36%, 37%);
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(158, 36%, 24%);
}
